<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>colorNavigationBar</key>
	<string>FFFFFF</string>
	<key>colorNavigationBarText</key>
	<string>607D8B</string>
	<key>colorButtons</key>
	<string>607D8B</string>
	<key>colorButtonsText</key>
	<string>FFFFFF</string>
	<key>colorSideMenuBackground</key>
	<string>39494F</string>
	<key>color0</key>
	<string>FFFFFF</string>
	<key>color1</key>
	<string>FCFCFC</string>
	<key>color2</key>
	<string>808285</string>
	<key>color3</key>
	<string>F3F4F5</string>
	<key>color4</key>
	<string>808285</string>
	<key>color5</key>
	<string>4D4D4D</string>
	<key>color6</key>
	<string>2C2C2C</string>
	<key>color7</key>
	<string>808285</string>
	<key>color8</key>
	<string>ED5565</string>
	<key>color9</key>
	<string>5EAE20</string>
	<key>color10</key>
	<string>69BE28</string>
</dict>
</plist>
