/cvlog.txt
/tokens.json
/users.json
/mpin_sdk.vcxproj.user
/mpin_sdk_test.vcxproj.user
/windows_test_tokens.json
/windows_test_users.json
/windows_test_v2_tokens.json
/windows_test_v2_users.json
*.vcxproj.user
