<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>backendss</key>
	<array>
		<dict>
			<key>backend</key>
			<string>http://tcb.certivox.org</string>
			<key>rps_prefix</key>
			<string></string>
			<key>SERVICE_TYPE</key>
			<integer>0</integer>
			<key>CONFIG_NAME</key>
			<string>Mobile banking login</string>
		</dict>
		<dict>
			<key>backend</key>
			<string>http://ntt-vpn.certivox.org</string>
			<key>rps_prefix</key>
			<string></string>
			<key>SERVICE_TYPE</key>
			<integer>2</integer>
			<key>CONFIG_NAME</key>
			<string>VPN login</string>
		</dict>
		<dict>
			<key>backend</key>
			<string>http://tcb.certivox.org</string>
			<key>rps_prefix</key>
			<string></string>
			<key>SERVICE_TYPE</key>
			<integer>1</integer>
			<key>CONFIG_NAME</key>
			<string>Online banking login</string>
		</dict>
	</array>
</dict>
</plist>
