<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>BACKENDS</key>
	<array>
		<dict>
			<key>backend</key>
			<string>http://192.168.10.188:8005</string>
			<key>rps_prefix</key>
			<string></string>
			<key>SERVICE_TYPE</key>
			<integer>1</integer>
			<key>CONFIG_NAME</key>
			<string>M-Pin Connect</string>
		</dict>
	</array>
	<key>COLORS</key>
	<dict>
		<key>color0</key>
		<string>FFFFFF</string>
		<key>color1</key>
		<string>FCFCFC</string>
		<key>color2</key>
		<string>607D8B</string>
		<key>color3</key>
		<string>E7ECEE</string>
		<key>color4</key>
		<string>999B9E</string>
		<key>color5</key>
		<string>65818F</string>
		<key>color6</key>
		<string>39494F</string>
		<key>color7</key>
		<string>6D6E71</string>
		<key>color8</key>
		<string>ED5565</string>
		<key>color9</key>
		<string>22C064</string>
		<key>color10</key>
		<string>607D8B</string>
		<key>color11</key>
		<string>F1F2F2</string>
	</dict>
	<key>HOCKEYAPP_ID</key>
	<string>0333b64530b6e80617d820942540baeb</string>
	<key>URL_MOBILE_GUIDE</key>
	<string>http://www.certivox.com/mobile-app</string>
	<key>URL_SDK</key>
	<string>https://github.com/CertiVox</string>
	<key>URL_HOMEPAGE</key>
	<string>https://www.certivox.com/</string>
	<key>URL_SUPPORT</key>
	<string>https://www.certivox.com/support</string>
	<key>URL_TERMS</key>
	<string>https://www.certivox.com/about-certivox/terms-and-conditions</string>
	<key>URL_VALUES</key>
	<string>https://www.certivox.com/about-certivox/security-privacy/</string>
</dict>
</plist>
